In [3]:
import pandas as pd
import numpy as np

In [4]:
from datetime import datetime

In [5]:
now =datetime.now()

In [6]:
now

datetime.datetime(2023, 2, 14, 8, 58, 15, 770628)

In [7]:
now.year, now.month, now.day

(2023, 2, 14)

In [8]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [9]:
delta

datetime.timedelta(days=926, seconds=56700)

In [10]:
delta.days

926

In [11]:
delta.seconds

56700

In [12]:
from datetime import timedelta

In [13]:
start = datetime(2011, 1, 7)

In [14]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [16]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [17]:
stamp = datetime(2011, 1, 3)

In [18]:
str(stamp)

'2011-01-03 00:00:00'

In [19]:
stamp.strftime("%Y-%m-%d")

'2011-01-03'

In [20]:
value = "2011-01-03"

In [21]:
datetime.strptime(value, "%Y-%m-%d")

datetime.datetime(2011, 1, 3, 0, 0)

In [25]:
datesstrs = ["2011-07-06 12:00:00", "2011-08-06 00:00:00"]

In [26]:
pd.to_datetime(datesstrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [29]:
idx = pd.to_datetime(datesstrs + [None])

In [30]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [31]:
idx[2]

NaT

In [32]:
pd.isna(idx)

array([False, False,  True])

In [33]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011,1,7), datetime(2011,1,8), datetime(2011,1,10), datetime(2011,1,12)]

In [35]:
ts = pd.Series(np.random.standard_normal(6), index=dates)

In [36]:
ts

2011-01-02   -0.515089
2011-01-05   -0.555814
2011-01-07   -0.301533
2011-01-08    0.149651
2011-01-10   -1.054955
2011-01-12    0.455882
dtype: float64

In [37]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [38]:
ts + ts[::2]

2011-01-02   -1.030178
2011-01-05         NaN
2011-01-07   -0.603065
2011-01-08         NaN
2011-01-10   -2.109911
2011-01-12         NaN
dtype: float64

In [39]:
ts.index.dtype

dtype('<M8[ns]')

In [40]:
ts[::2]

2011-01-02   -0.515089
2011-01-07   -0.301533
2011-01-10   -1.054955
dtype: float64

In [41]:
stamp=ts.index[0]

In [42]:
stamp

Timestamp('2011-01-02 00:00:00')

In [43]:
stamp = ts.index[2]

In [44]:
ts[stamp]

-0.30153250173218116

In [48]:
longer_ts = pd.Series(np.random.standard_normal(1000), index=pd.date_range("2000-01-01", periods = 1000))

In [49]:
longer_ts

2000-01-01    0.565518
2000-01-02    0.089553
2000-01-03   -0.229701
2000-01-04   -0.012349
2000-01-05    0.096596
                ...
2002-09-22    0.449180
2002-09-23    0.444843
2002-09-24   -1.948965
2002-09-25    1.938854
2002-09-26   -1.329471
Freq: D, Length: 1000, dtype: float64

In [50]:
longer_ts["2001"]

2001-01-01    0.112322
2001-01-02    0.204143
2001-01-03   -0.253082
2001-01-04    0.019635
2001-01-05    0.050747
                ...
2001-12-27   -0.010717
2001-12-28    0.365347
2001-12-29    0.006580
2001-12-30    0.393507
2001-12-31   -0.684915
Freq: D, Length: 365, dtype: float64

In [51]:
longer_ts["2001-05"]

2001-05-01    0.968987
2001-05-02   -0.682810
2001-05-03    1.014223
2001-05-04    0.135273
2001-05-05    0.307316
2001-05-06   -0.079552
2001-05-07   -1.452958
2001-05-08   -1.433740
2001-05-09   -1.005073
2001-05-10   -0.366550
2001-05-11    0.148140
2001-05-12    0.572010
2001-05-13   -0.334603
2001-05-14    0.198893
2001-05-15   -0.071462
2001-05-16    0.254750
2001-05-17   -0.241715
2001-05-18   -0.129125
2001-05-19    0.306573
2001-05-20    1.125628
2001-05-21    0.077588
2001-05-22   -0.209908
2001-05-23   -1.493259
2001-05-24    2.404586
2001-05-25   -0.195424
2001-05-26   -0.579509
2001-05-27    0.369850
2001-05-28   -1.157552
2001-05-29   -1.368115
2001-05-30   -2.024403
2001-05-31   -0.955548
Freq: D, dtype: float64

In [52]:
ts[datetime(2011,1,7):]

2011-01-07   -0.301533
2011-01-08    0.149651
2011-01-10   -1.054955
2011-01-12    0.455882
dtype: float64

In [53]:
ts[datetime(2011,1,7):datetime(2011,1,10)]

2011-01-07   -0.301533
2011-01-08    0.149651
2011-01-10   -1.054955
dtype: float64

In [54]:
ts

2011-01-02   -0.515089
2011-01-05   -0.555814
2011-01-07   -0.301533
2011-01-08    0.149651
2011-01-10   -1.054955
2011-01-12    0.455882
dtype: float64

In [55]:
ts["2011-01-06":"2011-01-11"]

2011-01-07   -0.301533
2011-01-08    0.149651
2011-01-10   -1.054955
dtype: float64

In [56]:
ts.truncate(after="2011-01-09")

2011-01-02   -0.515089
2011-01-05   -0.555814
2011-01-07   -0.301533
2011-01-08    0.149651
dtype: float64

In [57]:
dates = pd.date_range("2000-01-01", periods = 100, freq = "W-WED")

In [58]:
long_df = pd.DataFrame(np.random.standard_normal((100, 4)), index=dates, columns = ["Colorado", "Texas", "New York", "Ohio"])

In [59]:
long_df.loc["2001-05"]

            Colorado     Texas  New York      Ohio
2001-05-02 -0.644772 -0.584145 -0.665517 -0.523558
2001-05-09 -0.429688 -0.389415 -0.199176 -0.747714
2001-05-16 -0.154671  2.045778 -1.580612 -0.946309
2001-05-23  1.330155 -0.850971  0.382267 -1.496945
2001-05-30  1.562381 -0.346280 -1.053817 -0.298058

In [67]:
# Duplicate indices
dates = pd.DatetimeIndex(["2000-01-01", "2000-01-02", "2000-01-02", "2000-01-02", "2000-01-03"])

In [68]:
dup_ts = pd.Series (np.arange(5), index=dates)

In [70]:
dup_ts.index.is_unique

False

In [71]:
dup_ts["2000-01-03"] # not duplicated

4

In [72]:
dup_ts["2000-01-02"] # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [73]:
grouped = dup_ts.groupby(level=0)

In [74]:
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [75]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [76]:
ts

2011-01-02   -0.515089
2011-01-05   -0.555814
2011-01-07   -0.301533
2011-01-08    0.149651
2011-01-10   -1.054955
2011-01-12    0.455882
dtype: float64

In [77]:
resampler= ts.resample("D")

In [78]:
resampler

In [79]:
index = pd.date_range("2012-04-01", "2012-06-01")

In [80]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [81]:
pd.date_range(start="2012-04-01", periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [82]:
pd.date_range(end="2012-06-01", periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [83]:
pd.date_range("2000-01-01", "2000-12-01", freq="BM")

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [84]:
pd.date_range("2012-05-02 12:56:31", periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [85]:
pd.date_range("2012-05-02 12:56:31", periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [87]:
from pandas.tseries.offsets import Hour, Minute

In [88]:
four_hours=Hour(4)

In [89]:
four_hours

In [91]:
pd.date_range("2000-01-01", "2000-01-03 23:59", freq = "4H")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [92]:
Hour(2) + Minute(30)

In [93]:
pd.date_range("2000-01-01", periods=10, freq="1h30min")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [94]:
monthly_dates = pd.date_range("2012-01-01", "2012-09-01", freq = "WOM-3FRI") # week of month, 3rd Friday

In [95]:
monthly_dates = pd.date_range("2012-01-01", "2012-09-01", freq = "WOM-1MON") # week of month, 1st Monday

In [96]:
list(monthly_dates)

[Timestamp('2012-01-02 00:00:00', freq='WOM-1MON'),
 Timestamp('2012-02-06 00:00:00', freq='WOM-1MON'),
 Timestamp('2012-03-05 00:00:00', freq='WOM-1MON'),
 Timestamp('2012-04-02 00:00:00', freq='WOM-1MON'),
 Timestamp('2012-05-07 00:00:00', freq='WOM-1MON'),
 Timestamp('2012-06-04 00:00:00', freq='WOM-1MON'),
 Timestamp('2012-07-02 00:00:00', freq='WOM-1MON'),
 Timestamp('2012-08-06 00:00:00', freq='WOM-1MON')]

In [97]:
ts = pd.Series(np.random.standard_normal(4), index=pd.date_range("2000-01-01", periods = 4, freq= "M"))

In [98]:
ts

2000-01-31   -0.950543
2000-02-29    0.291451
2000-03-31    1.024919
2000-04-30    0.931787
Freq: M, dtype: float64

In [99]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.950543
2000-04-30    0.291451
Freq: M, dtype: float64

In [100]:
ts.shift(-2)

2000-01-31    1.024919
2000-02-29    0.931787
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [101]:
ts/ts.shift(1)-1

2000-01-31         NaN
2000-02-29   -1.306615
2000-03-31    2.516608
2000-04-30   -0.090868
Freq: M, dtype: float64

In [102]:
ts.shift(2,freq="M")

2000-03-31   -0.950543
2000-04-30    0.291451
2000-05-31    1.024919
2000-06-30    0.931787
Freq: M, dtype: float64

In [104]:
ts.shift(3,freq="D")

2000-02-03   -0.950543
2000-03-03    0.291451
2000-04-03    1.024919
2000-05-03    0.931787
dtype: float64